.style-header {
  /* font-family: 'Qwitcher Grypen', cursive; */
  /* font-family: 'Lobster', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Faster One', cursive;
  /* font-family: 'Bungee Inline', cursive; */

}

/* On screens that are 640px or less, set the properties  */

/* @media screen and (min-width: 360px) and (max-width: 481px)  {} */

/* If [device width] is greater than or equal to 641px, then do */


@media screen and (max-width: 640px) {
  .style-header {
    font-size: 18px !important;
    line-height: 80%;
  }
  .sm-logo{
    display: none;
  }
}

@media screen and (min-width: 641px) and (max-width: 1024px)  {
  .sm-logo{
    display: none;
  }
}